
body {
    margin: 0;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    background: rgb(229, 243, 251);
}

header, main, footer {
    width: auto;
    padding: 2rem;
    background-color: white;
}

h1 {
    padding: 0 1rem;
    color: white;
    background-color: #196b9a;
}

nav > ul {
    padding: 0 0 0 1rem;
}

nav a {
    color: #196b9a;
    font-size: 1.2rem;
    font-variant: small-caps;
}

main {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    color: #196b9a;
}






/* Ici, on sélectionne n'importe quel élément
qui soit l'enfant direct d'un <form> */
form > * {
    margin-top: 1rem;
}

label {
    /* On passe en inline-block pour pouvoir donner une largeur */
    display: inline-block;
    width: 200px;
}

/* Il est possible de sélectionner des éléments selon les attributs HTML
qu'ils possèdent, comme ici où l'on veut sélectionner chaque <input type="text"> */
input[type="text"] {
    color: #ff7b00;
}

textarea {
    width: 100%;
    height: 100px;
}

fieldset {
    border-color: #196b9a;
    border-radius: 3px;
}

fieldset > legend {
    color: #196b9a;
}

button {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background: #ddd;
    /* La valeur none permet de remettre une valeur à zéro pour certaines propriétés */
    border: none;
}

/* Par habitude, on donne la même règle pour les états "hover" et "focus" */
button:hover, button:focus {
    /* L'usage d'une couleur au format RGBA permet de préciser
    la transparence (alpha) de la couleur entre 0 (transparent) et 1 (opaque) */
    background: rgba(25, 107, 154, 0.5);
}

button:active {
    background: rgba(25, 107, 154, 0.7);
}







p {
    margin: 1rem 0;
}

@media screen and (min-width: 768px) {
    header, main, footer {
        width: 800px;
        margin: 0 auto;
    }

    h1 {
        font-size: 3rem;
    }
}
