
/* Une puissante fonctionnalité de CSS3 est la possibilité de définir des variables.
Pour qu'elles soient disponibles dans tout le document, on les définit avec le sélecteur :root */
:root {
    /* Le nom de notre variable s'écrit à la place d'une propriété, en commençant toujours par -- */
    --admin-color: #f56817;
    --admin-hover: #39acf5;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    background: rgb(229, 243, 251);
}

header, main, footer {
    width: auto;
    padding: 2rem;
    background-color: white;
}

h1 {
    padding: 0 1rem;
    color: white;
    background-color: #196b9a;
}

nav > ul {
    padding: 0 0 0 1rem;
}

nav a {
    color: #196b9a;
    font-size: 1.2rem;
    font-variant: small-caps;
}

main {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    color: #196b9a;
}

p {
    margin: 1rem 0;
}







body.admin {
    background: rgb(255, 234, 208);
}

body.admin h1 {
    /* Pour utiliser une variable au lieu d'écrire directement une valeur, il suffit
    d'écrire var() avec le nom complet de notre variable */
    background-color: var(--admin-color);
}

body.admin h2 {
    color: var(--admin-color);
}

table {
    width: 100%;
    margin: 1rem 0;
}

table thead {
    color: white;
    background-color: var(--admin-color);
}

table th, table td {
    padding: 0.5rem;
}

table td {
    border-bottom: 1px solid #ddd;
}

a.button {
    padding: 3px 7px;
    color: white;
    /* Pour rappel, "700" est égal à la valeur "bold" */
    font-weight: 700;
    /* On peut demander à avoir une transition lorsque certaines propriétés
    ont leur valeur qui change. Ici, pour la valeur "background", on veut une
    animation d'une durée de 0.1s, avec une courbe d'accélération "linear" */
    transition: background 0.1s linear;
    background: var(--admin-color);
    border-radius: 2px;
}

a.button:hover, a.button:focus {
    background: var(--admin-hover);
}

table .total {
    text-align: center;
}







@media screen and (min-width: 768px) {
    header, main, footer {
        width: 800px;
        margin: 0 auto;
    }

    h1 {
        font-size: 3rem;
    }
}
