{% extends "_base.html" %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container">
    <h2>Page d'accueil</h2>
    {% if message %}
    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <h3>Bienvenue</h3>
            <p>Bienvenue sur notre site web.</p>
            <p>Cette compétition est organisée par {{ organisateur | upper }}.</p>
        </div>
        <div class="col-md-6">
            <h3>Coup d'envoi</h3>
            <p>
                Le premier match de la compétition se déroulera le <strong>{{ event.0 | date:"l d F" }}</strong>
                au stade <strong>{{ event.1 }}</strong> : {{ event.2 }} vs {{ event.3 }}.
            </p>
        </div>
    </div>
</div>
{% endblock %}
