
h1 {
    margin: 3rem 0;
}

article span {
    color: #666;
}

article.edition-national {
    background-color: rgba(0, 150, 255, 0.1);
}

article.edition-paca {
    background-color: rgba(0, 255, 125, 0.1);
}

#message {
    display: none;
}
